$w-s: 750px;

.link {
  text-decoration: none;
  color: var(--t-text);
  display: block;
  width: 70%;

}

.card {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid var(--t-text);
  padding: 1em;
  border-radius: 2em;
  flex-direction: column;
  gap: 1.5em;

  p {
    font-size: 1.15em;
    text-align: center;
  }
}

svg {
  width: 2em;
  fill: var(--t-text);
}

.title {
  display: flex;
  align-items: center;
  gap: 0.75em;
  padding-top: 1em;

  @media (min-width: $w-s) {
    gap: 1.5em;
  }


  span {
    font-weight: 500;

    @media (min-width: $w-s) {
      font-size: 1.3em;
    }
  }
}