.layout {
  display: grid;
  width: 100%;
  margin: auto;
  max-width: 50vw;

  @media (max-width: 600px) {
    width: calc(100% - 2em);
    padding: 1em;
    max-width: none;
  }
}

p {
  font-size: 1.1em;
}