---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';

---

<html lang="en">
  <head>
    <MainHead title="About" />
    <style lang="scss">
      .heroImg {
        object-fit: cover;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .bio {
        line-height: 2;

        p {
          font-size: 1.2em;
        }
      }
    </style>
  </head>
  <body>
    <Nav />
    <div class="wrapper">
      <h1>About Hamza</h1>
      <div class="heroImg">
        <img width="1400" height="350" src="https://images.unsplash.com/photo-1581977012607-4091712d36f9?auto=format&fit=crop&w=1400&h=350&q=75" />
      </div>
      <div class="bio wrapper wrapper__readable">
        <p>
          Hi, I'm Hamza, a University student from Pakistan. I love programming and technology in general and have been programming for years.
        </p>
        
        <h2>Contact</h2>
        <p>
          <strong>Email: </strong> <span>muhammadhamza1311@gmail.com</span>
        </p>
        <p>
          <strong>Discord: </strong> <span>rias chan#6969</span>
        </p>
        <p>
          <strong>Matrix: </strong> <span>@weeb69:matrix.org</span>
        </p>
        <p>
          <strong>GitHub: </strong> <span>hamza1311</span>
        </p>
      </div>
    </div>
    <Footer />
</body>
</html>
