---
import Head from '../components/Head.astro'
import Header from '../components/Header.tsx'
---

<html lang="en"> <!-- class="dark" -->
<head>
    <Head />

    <style lang="scss">
    
    </style>
</head>

<body>
    <Header />

    <main class="flex flex-col w-full items-center">
        <section class="mt-24 mx-14 md:w-1/2">
            <h1>Blog</h1>
            <p class="py-4 text-lg">Welcome to my blog. Here you'll find all the random content that I'll be posting</p>
            <hr class="border-pink-400 border-t-2"/>
        </section>

        <section class="my-8 mx-14 flex flex-col gap-6 md:w-1/2">
            <article class="flex flex-col gap-2 bg-pink-200 bg-opacity-20 p-4 shadow-md rounded-2xl">
                <span class="text-sm">Sunday, July 18 2021</span>
                <h3 class="text-xl md:text-xl lg:text-2xl font-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                <p> Fusce eu diam eget libero euismod auctor. Quisque at tristique magna. Proin iaculis, tellus ut pulvinar luctus, nisl quam porta mi, at venenatis libero lectus nec risus.</p>
            </article>
        </section>
    </main>
</body>
</html>
