---
import ProjectsList from "../components/ProjectsList.astro"
import AnimatedBottomBorderLink from "../components/AnimatedBottomBorderLink"
import BaseLayout from "../layouts/BaseLayout.astro"
import ResumeIcon from "../icons/Resume.tsx"
import GitHubIcon from "../icons/GitHub.tsx"
import LinkedInIcon from "../icons/LinkedIn.tsx"

const metaUrl = "https://mhamza.dev"
---

<BaseLayout>
    <meta slot="head" name="og:url" content={metaUrl} />
    <meta slot="head" name="twitter:url" content={metaUrl} />

    <style lang="scss" slot="head">
        .link-button {
            max-height: 48px;
            max-width: 48px;

            &#resume-icon {
                height: 50px;
                width: 50px;
            }
        }

        .data-section {
            @apply flex flex-col gap-10 content-center items-center justify-center mt-24;
        }
    </style>

    <main>
        <section class="data-section">
            <h1 class="text-center">
                Hi, I am
                <span class="text-pink-700 dark:text-pink-800"
                    >Muhammad Hamza.</span
                >
            </h1>
            <h2>A Web Developer</h2>
            <p class="-mt-7 text-lg">and a lover of anime and technology.</p>

            <div class="flex gap-4 justify-center">
                <!-- <AnimatedBottomBorderLink href="#" ariaLabel="My Resume">
                <ResumeIcon className="w-12" />
            </AnimatedBottomBorderLink> -->
                <AnimatedBottomBorderLink
                    href="https://github.com/hamza1311/"
                    target="_blank"
                    ariaLabel="My GitHub"
                >
                    <GitHubIcon />
                </AnimatedBottomBorderLink>
                <AnimatedBottomBorderLink
                    href="https://www.linkedin.com/in/hamza1311/"
                    target="_blank"
                    ariaLabel="My LinkedIn"
                >
                    <LinkedInIcon />
                </AnimatedBottomBorderLink>
            </div>
        </section>

        <section class="data-section" id="projects">
            <h2>Projects</h2>

            <ProjectsList />
        </section>

        <section class="data-section" id="skills">
            <h2>Skills</h2>

            <div class="grid grid-cols-2 md:grid-cols-3 gap-5">
                <span class="tag">Rust</span>
                <span class="tag">Yew</span>
                <span class="tag">TypeScript</span>
                <span class="tag">React</span>
                <span class="tag">Next.JS</span>
                <span class="tag">Kotlin</span>
                <span class="tag">HTML</span>
                <span class="tag">CSS</span>
            </div>
        </section>

        <section class="data-section mb-12" id="contact">
            <h2>Contact</h2>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
                <a href="mailto:muhammadhamza1311@gmail.com" class="tag"
                    >Email</a
                >
                <a
                    href="https://matrix.to/#/@weeb69:matrix.org"
                    target="_blank"
                    class="tag"
                    rel="noopener">Matrix</a
                >
            </div>
        </section>
    </main>
</BaseLayout>
