---
import ProjectCard from '../components/ProjectCard.tsx'
const repos = [
    {
        title: 'Clurry',
        link: 'hamza1311/clurry',
        description: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo enim asperiores',
        languages: ['Rust']
    },
    {
        title: 'Gloo',
        link: 'rustwasm/gloo',
        description: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo enim asperiores',
        languages: ['Rust']
    },
    {
        title: 'Dear Diary',
        link: 'hamza1311/dear-diary-web',
        description: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo enim asperiores',
        languages: ['TypeScript']
    },
]
---

<div class="flex flex-col m-4 gap-8 lg:flex-row lg:gap-6">
    {repos.map(({title, link, description, languages}) => (
        <ProjectCard title={title} link={link} description={description} languages={languages} />
    ))}
</div>