---
import Author from './Author.astro';

export interface Props {
  title: string;
  author: string;
  publishDate: string;
  heroImage: string;
}

const { title, author, publishDate, heroImage } = Astro.props;
---

<div class="layout">
  <article class="content">
    <header>
      {heroImage && <img class="hero-image" loading="lazy" src={heroImage} />}
      <p class="publish-date">{publishDate}</p>
      <h1 class="title">{title}</h1>
      <Author name="Muhammad Hamza" href="https://github.com/hamza1311" />
    </header>
    <main>
      <slot />
    </main>
</div>

<style lang="scss">
.layout {
  padding-bottom: 5em;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;

  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 4px solid var(--t-divider);

  .hero-image {
    width: 100vw;
    object-fit: cover;
    object-position: top;
    margin-top: 2rem;
    margin-bottom: 4rem;
    max-width: 720px;
    max-height: 420px;

    @media (max-width: 50em) {
      height: 260px;
      margin-top: 0;
      margin-bottom: 2rem;
    }
  }


  .title, .author, .publish-date {
    margin: 0.2em;
  }

  .publish-date, .author {
    color: var(--t-text-lighter);
  }

  .title {
    font-size: 2.25rem;
    font-weight: 700;
  }
}


</style>
