---
import Head from "./BaseHead.astro"
import Header from "../components/Header.tsx"

const { title = "", description = "" } = Astro.props
---

<html lang="en" class="dark">
    <!-- class="dark" -->
    <head>
        <Head {title} {description} />

        <slot name="head" />
    </head>

    <body
        class="dark:bg-background-dark bg-white text-black transition duration-200 dark:text-white"
    >
        <Header client:load />
        <slot />
    </body>
</html>
