---
const { title = '' } = Astro.props; 
const pageTitlePrefix = title === '' ? '' : `${title} |`
---

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>{pageTitlePrefix} Muhammad Hamza</title>

<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>